header {
    height: 5rem;
}

main {
    position: absolute;
    top: 5rem;
}

input[name='search'] {
    width: 80%;
    margin: 0;
    float: left;
}

button[type='submit'] {
    width: 20%;
    height: auto;
    border-radius: .25rem;
    float: left;
    background-color: #2196F3;
    color: white;
}

#currentWeather, .fiveDays {
    line-height: 2.5rem;
}

.uv {
    border: 1px solid black;
    border-radius: .25rem;
    padding: .25rem .5rem;
}

span {
    display: block;
}

.uvIndex, .uv {
    display: inline;
}

.fiveDays{
    /* margin: 0 2rem; */
    white-space: nowrap;
}

.dayOne, .dayTwo, .dayThree,
.dayFour, .dayFive {
    padding: .5rem 1rem;
    background-color: #2196F3;
    margin: 0 .75rem;
    border-radius: .25rem;
    text-align: start;
}