header {
    height: 5rem;
}

main {
    position: absolute;
    top: 5rem;
}

input[name='search'] {
    width: 80%;
    margin: 0;
    float: left;
}

button[type='submit'] {
    width: 20%;
    height: auto;
    border-radius: .25rem;
    float: left;
    background-color: #2196F3;
    color: white;
}

.uvIndex {
    background-color: red;
    border: 1px solid black;
    border-radius: .25rem;
}

span {
    display: block;
}

.uv, .uvIndex {
    display: inline;
}

.fiveDays{
    /* stuff */
}